<footer class="footer-main">

    @* LEGAL INFORMATION  *@
    <div class="legal-info">
        <div class="legal-info bold">
            <a href="#">Copyright &copy; 2025 Peterdraw</a>
        </div>
        <div class="legal-info thin">
            <a href="#">Privacy Policy</a>
        </div>
        <div class="legal-info thin">
            <a href="#">Terms and conditions</a>
        </div>
        <div class="legal-info thin">
            <a href="#">Contact </a>
        </div>
    </div>

    @* SOCIAL MEDIA LINKS  *@
    <div class="social-media">
        <a href="https://www.facebook.com">
            <img class="social-logo" src="~/images/facebook-logo.svg" alt="Facebook logo" />
        </a>
        <a href="https://www.twitter.com">
            <img class="social-logo" src="~/images/twitter-logo.svg" alt="Twitter logo" />
        </a>
        <a href="https://www.instagram.com">
            <img class="social-logo" src="~/images/instagram-logo.svg" alt="Instagram logo" />
        </a>
        <a href="https://www.youtube.com">
            <img class="social-logo" src="~/images/youtube-logo.svg" alt="YouTube logo" />
        </a>
        <a href="https://www.linkedin.com">
            <img class="social-logo" src="~/images/linkedin-logo.svg" alt="LinkedIn logo" />
        </a>
    </div>
</footer>