@{
    var currentUser = await CurrentUserService.GetHeaderViewModelAsync();
}

<header class="header">

    @* HEADLINE LEFT-SIDE*@
    <div class="headline-wrapper">
        <h4>@ViewData["Title"]</h4>
        @* <h4>Dashboard</h4> *@
        <p>Hello @currentUser.FullName , welcome back!</p>
    </div>

    @* RIGHT-SIDE *@
    <div class="right-section">

        @* SEARCH-INPUT *@
        <div class="search-wrapper">
            <input class="search-input" type="text" placeholder="Search anything">
            <img class="search-icon" src="~/images/search-icon.svg" alt="search-icon">
        </div>

        @* NOTIFICATION BUTTON *@
        <button class="header-btn">
            <div class="btn-icon-wrapper">
                <img src="~/images/notification-bell-icon.svg" alt="notification-icon">
            </div>
        </button>

        @* SETTINGS BUTTON *@
        <button class="header-btn">
            <div class="btn-icon-wrapper">
                <img src="~/images/settings-gear-icon.svg" alt="settings-gear-icon">
            </div>
        </button>

        @* USER PROFILE *@
        <a asp-controller="EditUser" asp-action="Index">
            <div class="user-profile-wrapper">
                <div class="profile-pic-wrapper">
                    <img src="" alt="">
                </div>
                <div class="user-profile-text-wrapper">
                    <h4>@currentUser.FullName</h4>
                </div>
            </div>
        </a>
    </div>
</header>
