@model LocationViewModel

<partial name="./Partials/LocationPartials/_LocationHeaderPartial" />

<section class="booking-container">
	<div class="booking-overview">
		<form asp-action="Edit" asp-controller="Location" class="form" id="location-form" method="post" novalidate>
			<header class="location-form-header">
				<h2>Edit Location</h2>
			</header>

			<div>
				@if (ViewBag.ErrorMessage != null)
				{
					<p class="validation-error-message">@ViewBag.ErrorMessage</p>
				}
			</div>
			<div class="form-group">
				<label asp-for="Name" class="form-label"></label>
				<input asp-for="Name" class="form-input location-form-input" />
				<span asp-validation-for="Name" class="field-validation-error location-field-error"></span>
			</div>
			<div class="form-group">
				<label asp-for="StreetName" class="form-label"></label>
				<input asp-for="StreetName" class="form-input location-form-input" />
				<span asp-validation-for="StreetName" class="field-validation-error location-field-error"></span>
			</div>
			<div class="form-horizontal-group">
				<div class="form-group">
					<label asp-for="PostalCode" class="form-label"></label>
					<input asp-for="PostalCode" class="form-input location-form-input" />
					<span asp-validation-for="PostalCode" class="field-validation-error location-field-error"></span>
				</div>
				<div class="form-group">
					<label asp-for="City" class="form-label"></label>
					<input asp-for="City" class="form-input location-form-input" />
					<span asp-validation-for="City" class="field-validation-error location-field-error"></span>
				</div>
			</div>
			<div class="form-horizontal-group">
				<div class="form-group">
					<label asp-for="SeatCount" class="form-label"></label>
					<input asp-for="SeatCount" class="form-input location-form-input" type="number" />
					<span asp-validation-for="SeatCount" class="field-validation-error location-field-error"></span>
				</div>
				<div class="form-group">
					<label asp-for="RowCount" class="form-label"></label>
					<input asp-for="RowCount" class="form-input location-form-input" type="number" />
					<span asp-validation-for="RowCount" class="field-validation-error location-field-error"></span>
				</div>
				<div class="form-group">
					<label asp-for="GateCount" class="form-label"></label>
					<input asp-for="GateCount" class="form-input location-form-input" type="number" />
					<span asp-validation-for="GateCount" class="field-validation-error location-field-error"></span>
				</div>
			</div>
			<div class="form-buttons">
				<a asp-controller="Location" asp-action="Index" class="btn btn-secondary" role="button">Cancel</a>
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</form>
	</div>
</section>