@model SetEmailViewModel

@{
    ViewData["Title"] = "Create account";
    Layout = "_AuthLayout";
}

<section class="card-signup">
    <div class="card-signup-header">
        <h1>Enter your email address</h1>
        @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
        {
            <p class="field-validation-error">
                @ViewBag.ErrorMessage
            </p>
        }
    </div>
    <div class="card-signup-body">
        <form method="post" asp-action="Index" asp-controller="SignUp" novalidate>
            <label asp-for="Email"></label>
            <div class="form-group">
                <input asp-for="Email" class="form-input"/>
                <span asp-validation-for="Email"></span>
            </div>
            <button type="submit" class="btn btn-primary margin-button">Continue</button>
        </form>
    </div>
    <div class="card-signup-footer">
        <div class="form-alreadyhaveaccount">
            Already have an account? <a asp-action="Index" asp-controller="Login">Log In</a>
        </div>
    </div>
</section>

@await Html.PartialAsync("_validationScripts")