@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Questrial&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --font: "Inter", sans-serif;
    --cool-gray-10: #EEEFFF;
    --cool-gray-20: #E4E5F5;
    --cool-gray-30: #DDDEED;
    --cool-gray-40: #D1D2E0;
    --gray-10: #FFFFFF;
    --gray-20: #F7F7F7;
    --gray-30: #EDEDED;
    --gray-40: #E0E0E1;
    --gray-50: #C3C3C4;
    --gray-60: #9F9FA1;
    --gray-70: #777779;
    --gray-80: #636365;
    --gray-90: #434345;
    --gray-100: #1E1E20;
    --pink-90: #F589FA;
    --pink-100: #F26CF9;
    --secondary-100: #37437D;
    --secondary-90: #5562A2;
    /* ---------------- */
    --red-light: rgba(255, 234, 228, 0.5);
    --red-dark: #B83030;
    --primary-100: #F26CF9;
    --primary-90: #F589FA;
    --link-color: var(--primary-100);
    --link-hover-color: var(--primary-90);
    --card-border-color: var(--gray-20);
    --text-color: var(--gray-100);
    --background-color: var(--gray-10);
    --headline-color: var(--secondary-100);
    --input-text-color: var(--gray-100);
    --input-border-color: var(--gray-40);
    --text-muted-color: var(--gray-60);
    --main-background-color: var( --gray-20);
    --input-background-color: var(--gray-10);
    --card-background-color: var(--gray-10);
    --form-error-message-text-color: var(--red-light);
    --form-error-message-background-color: var(--red-light);
    --button-text-color: var(--gray-90);
    --button-border-color: transparent;
    --button-background-color: transparent;
    --button-primary-text-color: var(--gray-10);
    --button-primary-border-color: var(--primary-100);
    --button-primary-background-color: var(--primary-100);
    --button-primary-hover-text-color: var(--gray-10);
    --button-primary-hover-border-color: var(--primary-90);
    --button-primary-hover-background-color: var(--primary-90);
}

*, *::after.before, *::after {
    box-sizing: border-box;
}

html, body {
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

.wrapper {
    display: grid;
    grid-template-areas:
        "sidebar main"
        "sidebar main"
        "sidebar footer";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr auto;
    /*    height: 100dvh;*/
    min-height: 100vh;
    padding: 1rem;
    gap: 1rem;
}

/*main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    grid-area: main;
    overflow: hidden;
}*/

main {
    grid-area: main;
    background-color: var(--main-background-color);
    border-radius: 1rem;
    padding: 1.5rem;
}

/* SIDEBAR */
.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background: var(--cool-gray-10);
    height: 100vh;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.logo {
    width: 32px;
}

.logotype {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 36px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;
    appearance: none;
}

.nav-link {
    margin-left: 0.7rem;
    font-size: 18px;
    text-decoration: none;
    color: var(--secondary-100);
}

    .nav-link:hover {
        font-weight: 600;
    }

    .nav-link.active {
        color: var(--pink-100);
        font-weight: 600;
    }

    .nav-link.location-first {
        color: var(--pink-100);
        font-size: 14px;
        font-weight: 400;
        margin-left: 0;
    }

    .nav-link.location-second {
        color: var(--gray-70);
        font-size: 14px;
        font-weight: 400;
        margin-left: 0;
    }

.navlink-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

    .navlink-wrapper.active .navlink-left-rectangle {
        display: block;
    }

.navlink-left-rectangle {
    display: none;
    position: absolute;
    left: -23.3%;
    width: 4px;
    height: 40px;
    background-color: var(--pink-90);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.nav-icon {
    width: 30px;
    height: 30px;
}

.signout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--cool-gray-20);
    border: none;
    border-radius: 1rem;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2rem;
    padding-right: 3.3rem;
    margin-top: auto;
}

    .signout-btn:hover {
        background-color: var(--cool-gray-30);
        transition: background-color 0.3s ease;
    }

.signout-text {
    font-size: 18px;
    color: var(--secondary-100);
}


/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--gray-20);
    padding: 1.5rem;
    border-radius: 1rem;
}

.headline-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.location-path-wrapper {
    display: flex;
}

.separator {
    margin-left: 4px;
    margin-right: 4px;
    color: var(--gray-50);
}

.headline-wrapper h4 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    margin: 0;
    color: var(--secondary-100);
}

.headline-wrapper p {
    font-size: 14px;
    margin: 0;
    color: var(--gray-70);
}

.right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
}

.search-wrapper {
    display: flex;
    position: relative;
}

.search-input {
    border: none;
    outline: none;
    background-color: var(--gray-10);
    font-size: 16px;
    width: 304px;
    height: 40px;
    border-radius: 30px;
    padding-left: 20px;
}

    .search-input::placeholder {
        color: var(--gray-60);
        opacity: 1;
    }

.search-icon {
    position: absolute;
    top: 24%;
    right: 5%;
}

.header-btn {
    border: none;
    border-radius: 40px;
    background-color: var(--secondary-100);
    width: 40px;
    height: 40px;
    cursor: pointer;
}

    .header-btn:hover {
        background-color: var(--secondary-90);
        transition: background-color 0.2s ease;
    }

.btn-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile-wrapper {
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 0.1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    gap: 0.5rem;
    border-radius: 40px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

    .user-profile-wrapper:hover {
        background-color: var(--gray-30);
    }

.profile-pic-wrapper {
    background-color: var(--cool-gray-10);
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.user-profile-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

    .user-profile-text-wrapper h4 {
        margin: 0;
        color: var(--secondary-100);
    }

    .user-profile-text-wrapper small {
        color: var(--gray-70);
    }

/* FOOTER */
.footer-main {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    background-color: var(--gray-20);
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

.legal-info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

    .legal-info.bold a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        color: var(--gray-70);
    }

    .legal-info.thin a {
        text-decoration: none;
        font-size: 13px;
        color: var(--gray-50);
    }

.social-media {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.social-logo {
    width: 28px;
}


/* BOOKING OVERVIEW */
.booking-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: var(--gray-20);
    border-radius: 1rem;
}

.booking-overview {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--gray-10);
    padding: 1.5rem;
    border-radius: 1rem;
}

.header.bookings-overview {
    background-color: var(--gray-10);
    padding: 1rem 0;
}

.segment-wrapper {
    display: flex;
    height: 100%;
    border-radius: 30px;
    background-color: var(--cool-gray-10)
}

.segment-btn {
    height: 100%;
    padding: 0.2rem 1rem;
    background-color: var(--cool-gray-10);
    color: var(--gray-100);
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

    .segment-btn.all-btn {
        width: 90px;
    }

    .segment-btn.active {
        background-color: var(--pink-100);
        color: var(--gray-10);
    }

.search-input.bookings-overview {
    background-color: var(--gray-20);
}

.footer-overview {
    margin-top: auto;
    padding: 1rem 0.5rem;
}

/* BOOKINGS TABLE */

.table-container {
    width: 100%;
    border-collapse: collapse;
}

    .table-container thead {
        border-bottom: 1px solid var(--gray-40);
        height: 42px;
    }


.table-head-bookings th {
    text-align: left;
    font-size: 12px;
    color: var(--gray-60);
    font-weight: 400;
    padding: 1rem 0.5rem;
}

.table-first-column {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.table-last-column {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.table-body-bookings td {
    border-bottom: 1px solid var(--gray-40);
    padding: 1.5rem 0.5rem;
}

.table-body-bookings:hover {
    background-color: var(--gray-20);
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.text-date {
    font-size: 15px;
    color: var(--gray-100);
}

.text-time {
    font-size: 13px;
    color: var(--gray-70);
}

.text-name {
    font-size: 15px;
    color: var(--gray-100);
}

.text-event-name {
    font-size: 15px;
    color: var(--gray-100);
}

.text-event-type {
    font-size: 13px;
    color: var(--gray-70);
}

.ticket-category-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-30);
    border-radius: 1.5rem;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: min-content;
    gap: 5px;
}

.ticket-category-ellipse {
    background-color: var(--cool-gray-40);
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.text-ticket-category {
    color: var(--secondary-100);
    padding-bottom: 2px;
}

.text-price {
    font-size: 15px;
    color: var(--gray-100);
}

.text-qty {
    font-size: 15px;
    color: var(--gray-100);
}

.text-amount {
    font-size: 15px;
    color: var(--gray-100);
}





/*  */
.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--headline-color);
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 20px;
}

/* Links */
a {
    color: var(--link-color);
    text-decoration: none;
}

    a:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }

/* Buttons */
.btn {
    color: var(--button-text-color);
    border: 1px solid var(--button-border-color);
    background-color: var(--button-background-color);
    transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    border-radius: 25px;
    padding: 0.9rem 1.5rem;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

    .btn:hover {
        text-decoration: none;
        color: var(--button-text-color);
        border: 1px solid var(--button-border-color);
        background-color: var(--button-background-color);
        transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    }

.btn-primary {
    color: var(--button-primary-text-color);
    border: 1px solid var(--button-primary-border-color);
    background-color: var(--button-primary-background-color);
}

    .btn-primary:hover {
        color: var(--button-primary-hover-text-color);
        border: 1px solid var(--button-primary-hover-border-color);
        background-color: var(--button-primary-hover-background-color);
        transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    }

/* Cards */
.card {
    background-color: var(--card-background-color);
    border-radius: 1rem;
    padding: 1.5rem;
    width: 100%;
    border: 1px solid var(--gray-30);
}

    .card .card-header {
        padding: 1rem 2rem 1rem;
    }

    .card card-title {
    }

    .card .card-body {
        padding: 1rem 2rem;
    }

    .card .card-footer {
        padding: 2rem 2rem 1rem;
    }


/* Forms */
.form-group {
    display: grid;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

    .form-group .additional-info {
        font-size: 0.7em;
    }

.form button[type="submit"] {
    width: 100%;
    margin: 1rem 0;
}

.additional-info {
    padding: 0 1rem;
    font-size: 0.9em;
    color: var(--text-muted-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}

    .additional-info.center {
        justify-content: center;
    }

    .additional-info.right {
        justify-content: flex-end;
    }

.verification-code-wrapper {
    display: grid;
    margin-top: 0.2rem;
    grid-template-columns: repeat(6, 1fr);
}

.verification-code-input {
    font-size: 1.6em;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 12px;
    outline: none;
    color: var(--input-text-color);
    border: 1px solid var(--input-border-color);
    background-color: var(--input-background-color);
}

.validation-error-message {
    color: var(--form-error-message-text-color);
    background-color: var(--form-error-message-background-color);
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0.6rem;
    border-radius: 10px;
}

#signup {
    width: 600px;
    text-align: center;
}

    #signup.card .card-body {
        padding: 0 3rem;
    }

    #signup .form-alreadyhaveaccount {
        font-size: 0.9em;
        color: var(--text-muted-color);
    }
    
/* FORM INPUT AND VALIDATION */

.form-input {
    width: 200px;
    height: 48px;
    border-radius: 15px;
    border: 1px solid var(--gray-10);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}

.field-validation-error {
    color: red;
    font-size: 0.8rem;
    border-radius: 10px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.input-validation-error {
    border-color: red;
}

@media (min-width: 768px) {
    .form-input {
        width: 300px;
    }
}

@media (min-width: 1024px) {
    .form-input {
        width: 550px;
    }
}

/*CARDS */

.card-signup {
    width: 250px;
    border-radius: 15px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 10px;
    padding-right: 10px;
}

.card-signup-header {
    text-align: center;
}

.card-signup-body {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card-signup-body label {
    display: block;
    text-align: start;
}

.card-signup-footer {
    text-align: center;
}

.margin-button {
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .card-signup {
        width: 400px;
    }
}

@media (min-width: 1024px) {
    .card-signup {
        width: 600px;
    }
}