@using Presentation.Controllers
@model BookingViewModel

@* HEADER BOOKINGS *@
<partial name="./Partials/BookingPartials/_BookingHeaderPartial" />

@* BOOKINGS OVERVIEW *@
<div class="booking-details-container">
    <div class="booking-details">

            @* BOOKING DETAILS *@
        <partial name="./Partials/BookingPartials/_BookingDetailsPartial" />
    </div>
</div>
