@using Presentation.Controllers

@* HEADER BOOKINGS *@
<partial name="./Partials/BookingPartials/_BookingHeaderPartial" />

@* BOOKINGS OVERVIEW *@
<div class="booking-container">
    <div class="booking-details">
        <div>BookingDetails</div>
        <footer class="footer-overview">

            @* OVERVIEW FOOTER - REMOVE MABYE? *@
            <div>
                Footer?
            </div>
        </footer>
    </div>
</div>
