@using Presentation.Controllers

@model BookingViewModel

@* HEADER BOOKINGS *@
<partial name="./Partials/BookingPartials/_BookingHeaderPartial" />

@* BOOKINGS OVERVIEW *@
<div class="booking-form-container">
    <div class="booking-form">

        @* BOOKING FORM *@
        <partial name="./Partials/BookingPartials/_CreateBookingFormPartial" />
    </div>
</div>