@using Presentation.Controllers
@model List<BookingViewModel>

@* HEADER BOOKINGS *@
<partial name="./Partials/BookingPartials/_BookingHeaderPartial" />

@* BOOKINGS OVERVIEW *@
<div class="booking-container">
    <div class="booking-overview">

        @* BOOKINGS OVERVIEW HEADER *@
        <partial name="./Partials/BookingPartials/_BookingsOverviewHeaderPartial" />

        @* BOOKING TABLE  *@
        <partial name="./Partials/BookingPartials/_BookingTablePartial" />

    </div>
</div>
