@model List<InvoiceViewModel>


@* HEADER INVOICE *@
<partial name="./Partials/InvoicePartials/_InvoiceHeaderPartial" />

@* INVOICE OVERVIEW *@
<section class="booking-container">
    <div class="booking-overview">
        <h1>Invoices</h1>

        @* INVOICE TABLE  *@
        <partial name="Partials/InvoicePartials/_InvoiceTablePartial"/>


    </div>
</section>

