@using Presentation.Controllers

@* HEADER INVOICE *@
<partial name="./Partials/InvoicePartials/_InvoiceHeaderPartial" />

@* INVOICE OVERVIEW *@
<div class="booking-container">
    <div class="booking-overview">

        @* BOOKINGS OVERVIEW HEADER *@
        <partial name="" />

        @* BOOKING TABLE  *@
        <partial name="" />

        
    </div>
</div>

