<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - WebApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">

        @* SIDEBAR *@
        <partial name="Partials/_SidebarPartial" />

        @* MAIN CONTENT *@
        <main class="main-layout">
            @RenderBody()
        </main>

        @* FOOTER  *@
        <partial name="Partials/_FooterPartial" />
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
