<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - WebApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">

        @* SIDEBAR *@
        <partial name="Partials/_SidebarPartial" />

        @* MAIN CONTENT *@
        <main>
            @RenderBody()
        </main>

        @* FOOTER  *@
        <footer class="footer-main">

            @* LEGAL INFORMATION  *@
            <div class="legal-info">
                <div class="legal-info bold">
                    <a href="#">Copyright &copy; 2025 Peterdraw</a>
                </div>
                <div class="legal-info thin">
                    <a href="#">Privacy Policy</a>
                </div>
                <div class="legal-info thin">
                    <a href="#">Terms and conditions</a>
                </div>
                <div class="legal-info thin">
                    <a href="#">Contact </a>
                </div>
            </div>

            @* SOCIAL MEDIA LINKS  *@
            <div class="social-media">
                <a href="https://www.facebook.com">
                    <img class="social-logo" src="~/images/facebook-logo.svg" alt="Facebook logo" />
                </a>
                <a href="https://www.twitter.com">
                    <img class="social-logo" src="~/images/twitter-logo.svg" alt="Twitter logo" />
                </a>
                <a href="https://www.instagram.com">
                    <img class="social-logo" src="~/images/instagram-logo.svg" alt="Instagram logo" />
                </a>
                <a href="https://www.youtube.com">
                    <img class="social-logo" src="~/images/youtube-logo.svg" alt="YouTube logo" />
                </a>
                <a href="https://www.linkedin.com">
                    <img class="social-logo" src="~/images/linkedin-logo.svg" alt="LinkedIn logo" />
                </a>
            </div>
        </footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
