@using Presentation.Models.Login

@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_AuthLayout";

}

<div id="login" class="card">
    <div class="card-header">
        <h4 class="card-title">Log in to your account</h4>
        <p>
            @ViewBag?.ErrorMessage
        </p>
    </div>
    <div class="card-body">
        <form method="post" asp-action="Index" asp-controller="Login" novalidate>
            <input type="hidden" name="returnUrl" value="@ViewBag?.ReturnUrl" />
            <div class="form-group">
                <input asp-for="Email" class="form-input" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-input" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label class="form-checkbox">
                        <input asp-for="IsPersistent" type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="form-label">Stay signed in</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>

        </form>
        <div />
        <div class="card-footer">
            <div class="additional-info center">
                Don't have an account? <a href="/signup">Sign Up</a>
            </div>

        </div>

    </div>
